<div class="flex flex-1 flex-col gap-2">
  <p>Seleccionar categoria</p>
  <select
    class="border-2 rounded-full border-grisclaro rounded px-3 py-2 focus:outline-none focus:border-moradoclaro transition"
    (change)="categoriaSeleccionada.set(toNumber(cmbPerfil.value)); actualizarCategoria()"
    #cmbPerfil
    required
  >
    <option value="0" disabled selected>--Seleccione una Categoria--</option>
    @for (categoria of categoriasConHabilidades(); track categoria.id) {
      <option [value]="categoria.id">
        {{ categoria.nombre }}
      </option>
    }
  </select>
  <select
    class="border-2 rounded-full border-grisclaro rounded px-3 py-2 focus:outline-none focus:border-moradoclaro transition"
    [value]="habilidadSeleccionada()"
    (change)="habilidadSeleccionada.set(toNumber(cmbHabilidad.value))"
    #cmbHabilidad
    required
  >
    <option value="0" disabled selected>--Seleccione una Habilidad--</option>
    @for (habilidad of habilidadesDeCategoria(); track habilidad.id) {
      <option [value]="habilidad.id">
        {{ habilidad.nombre }}
      </option>
    }
  </select>
  <button
    type="button"
    class="w-full py-2 rounded-full border-2 border-moradooscuro text-moradooscuro font-bold transition hover:bg-moradooscuro hover:text-white cursor-pointer mt-2"
    (click)="agregarHabilidad()"
  >
    Agregar Habilidad
  </button>
  @if (habilidadesSeleccionadas().length > 0) {
    <p class="text-grisoscuro mb-3 font-semibold text-center">Habilidades Seleccionadas</p>
    <div class="flex flex-wrap gap-2">
      @for (habilidad of habilidadesSeleccionadas(); track habilidad.id) {
        <div
          class="flex items-center gap-2 bg-moradoclaro/10 border border-moradoclaro rounded-full px-3 py-1"
        >
          <span class="text-grisoscuro text-sm">{{ habilidad.nombre }}</span>
          <button
            type="button"
            (click)="removerHabilidad(habilidad.id)"
            class="text-moradooscuro hover:text-moradooscuro font-bold leading-none hover:scale-110 transition-transform"
          >
            <i class="pi pi-times"></i>
          </button>
        </div>
      }
    </div>
  }
</div>
