<div class="fixed inset-0 flex items-center justify-center bg-white/40">
  <div
    class="w-80 bg-white rounded-xl shadow-lg p-8 flex flex-col items-center font-rubik mx-4 drop-shadow-[0_0_2em_rgba(0,0,0,0.5)]"
  >
    <h2 class="text-xl font-bold text-moradooscuro mb-4 text-center">
      {{ data.titulo }}
    </h2>
    <p class="text-grisoscuro mb-6 text-center">
      {{ data.mensaje }}
    </p>

    <form method="dialog" class="w-full">
      <button
        class="w-full py-2 rounded-full border-2 border-moradooscuro text-moradooscuro font-bold transition hover:bg-moradooscuro hover:text-white cursor-pointer"
        (click)="cerrarModal()"
      >
        Aceptar
      </button>
    </form>
  </div>
</div>
